@font-face {
  font-family: "iconfont"; /* Project id 3747294 */
  src: url('iconfont.woff2?t=1667460438476') format('woff2'),
       url('iconfont.woff?t=1667460438476') format('woff'),
       url('iconfont.ttf?t=1667460438476') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-vimeo:before {
  content: "\ece6";
}

.icon-git:before {
  content: "\ece7";
}

