.s-container {
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.s-scrollbar {
  $w: 4px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: $w;
    height: $w;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    border-radius: $w;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $w;
    background-color: rgba(255, 255, 255, 0.2);
  }
}
